*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-around;
    gap: 20vw;
    height: auto;
    width: auto;
    align-items: center;
    background-color: rgb(8, 82, 78);
    color: green;
    font-size: 1.5rem;
}
.logo img{
    height: 14vh;
    width: 7vw;
}
.informacoes ul{
    display: flex;
    gap: 2vw;
    list-style: none;
    font-weight: bold;
}
.informacoes a{
    color: rgba(255, 255, 255, 0.97);
}

.titulo{
    padding: 4%;
    text-align: center; 
    font-size: 3rem;
}
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.97);
    --animation-color: #37FF8B;
    --fs-size: 0.7em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.8s;
    -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}
main h2{
    text-align: center;
    margin-top: 3vh;
    font-size: 2.5rem;
}
.planos{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin: 10vh 20vw 0vh 20vw;
}
.planos h3{
    font-size: 2.3rem;
    font-weight: bold;
  }
.planos hr{
     border: solid 0.2vw rgb(8, 82, 78);
}
.coin p{
    font-size: 1.2rem;
    text-decoration: line-through;
    text-align: center;
    margin: 1vh 0vw 1vh 0vw;
    color: red;
}
.coin-current{
    font-weight: bold;
    text-align: center;
    margin: 1vh 0vw 1vh 0vw;
    font-size: 1.6rem;
    color: rgb(8, 82, 78);
    
}
.botao a{
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 6px;
  background-color: rgb(99, 170, 170);
  color: white;
}
.botao i{
  margin-bottom: 3vh;
  padding-right: 1rem;
}
.botao a{
  border: solid 1px white;
}
.screen{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 8vh;
    font-size: 2rem;
}
.screen img{
    height: 25vh;
    width: 45vh;
    border-radius: 10px;
}
.screen-one{
    height: auto;
    width: 22vw;
    margin: auto;
    margin-top: 3vh;
    padding: 0.5%;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(8, 82, 78);
    color: white;
}
hr{
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.content p{
    height: auto;
    width: auto;
    font-size: 1.3rem;
    font-family: arial;
    font-weight: bold;
}
.float{
  position:fixed;
  margin-top: 87vh;
}
.float img{
  height: 9vh;
  width: 8vw;
  margin-left: 90vw;
}
footer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
  margin-bottom: 2vh;
}


@media screen and (min-width: 375px) and (max-width: 667px)
{
    
  .float img{
    width: 23vw;
    height: 8vh;
    margin-left: 76vw;
  }
  .logo img{
    width: 20vw;
    height: 12vh;
  }
  .informacoes{
    font-size: 1rem;
  }
  main h2{
    font-size: 1.6rem;
  }
  .planos{
    margin: 2vw;
    margin-top: 5vh;
  }
  .planos h3{
    font-size: 1rem;
    text-align: center;
  }
  .coin p{
    font-size: 1.3rem;
  }
  .coin-current p{
    font-size: 1.4rem;
  }
  .botao a{
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: rgb(99, 170, 170);
    color: white;
  }
  .botao i{
    margin-bottom: 4vh;
    padding-right: 0.6rem;
  }
  .botao a{
    border: solid 1px white;
  }
  .screen{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 2vh;
  }
  .screen img{
    margin: auto;
    width: 40vw;
    height: 15vh;
  }
  .screen-one{
    width: auto;
    margin: 10%;
  }
  .screen-one h3{
    padding: 3%;
  }
  .content p{
    font-size: 1.3rem;
    font-weight: normal;
  }
  footer{
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 414px) and (max-width: 896px)
{
  .float img{
    width: 24vw;
    height: 7vh;
    margin-left: 76vw;
  }
  .logo img{
    width: 22vw;
    height:11vh;
  }
  .informacoes{
    font-size: 1.2rem;
  }
  .screen {
    margin-top: 1vh;
  }
  footer{
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 390px) and (max-width: 844px)
{
  .float img{
    width: 25vw;
    height: 6vh;
    margin-left: 74vw;
  }
  .logo img{
    width: 23vw;
    height:11vh;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px)
{
  .float img{
    width: 25vw;
    height: 7vh;
    margin-left: 74vw;
  }
  .logo img{
    width: 23vw;
    height:11vh;
  }
  .informacoes{
    font-size: 1rem;
  }
  main h2{
    font-size: 1.6rem;
  }
  .planos{
    margin: 2vw;
    margin-top: 5vh;
  }
  .planos h3{
    font-size: 1rem;
    text-align: center;
  }
  .coin p{
    font-size: 1.3rem;
  }
  .coin-current p{
    font-size: 1.4rem;
  }
  .botao a{
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: rgb(99, 170, 170);
    color: white;
  }
  .botao i{
    margin-bottom: 4vh;
    padding-right: 0.6rem;
  }
  .botao a{
    border: solid 1px white;
  }
  .screen{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 2vh;
  }
  .screen img{
    margin: auto;
    width: 40vw;
    height: 15vh;
  }
  .screen-one{
    width: auto;
    margin: 10%;
  }
  footer{
    font-size: 0.6rem;
  }
}
  @media screen and (min-width: 360px) and (max-width: 740px)
{
  .float img{
    width: 25vw;
    height: 6vh;
    margin-left: 74vw;
  }
  .planos{
    margin: 2vw;
    margin-top: 5vh;
  }
  footer{
    font-size: 0.7rem;
  }
}
